*.csv
*.png
*.o

read-write
prod-conso
philosophes

read-write-test-and-set
prod-conso-test-and-set
philosophes-test-and-set

read-write-test-and-test-and-set
prod-conso-test-and-test-and-set
philosophes-test-and-test-and-set

read-write-sem
prod-conso-sem
philosophes-sem